{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subtasca</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subtasca.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ subtasca.nom }}</td>
            </tr>
            <tr>
                <th>Descripcio</th>
                <td>{{ subtasca.descripcio }}</td>
            </tr>
            <tr>
                <th>Participants</th>
                <td>{{ subtasca.participants }}</td>
            </tr>
            <tr>
                <th>Tempsmaxim</th>
                <td>{% if subtasca.tempsMaxim %}{{ subtasca.tempsMaxim|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tempsrestant</th>
                <td>{% if subtasca.tempsRestant %}{{ subtasca.tempsRestant|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subtasca_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('subtasca_edit', { 'id': subtasca.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
