{% extends 'base.html.twig' %}

{% block body %}
        <div class="row top-tasca">
            <div class="container">
                <div class="col-sm-offset-1 col-sm-5"></div>
                <div class="col-sm-offset-3 col-sm-3"></div>
            </div>
        </div>

        <div class="row"> 
            <div class="container">
                <div class="listado-tasca col-xs-12 col-sm-4 col-md-4 col-lg-4 border-tasca">
                    <div class="tascas-scrollbar background-no-padding">
                        {% for item in tasques %}
                            <div id="marco" class="marco-tasca tasca-relative">
                                <p class="nombre-tasca"> {{ item.nom  }}</p>
                                <p class="descripcion-tasca"> {{ item.descripcio }}</p>
                                <a id="tasca" class="tasca-link" href={{ path('gestor_projectes_backend_buscaTasques', {'id': item.id}) }}></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="informacion-tasca col-xs-12 col-sm-8 col-md-8 col-lg-8 border-tasca">    

                    <div class="marco-tasca-info alinear-info">
                        <p class="info-tasca-separacion" id="pseparada"> {{ tasca.nom  }}</p>
                        <p class="info-tasca-separacion"> {{ tasca.descripcio }}</p>
                        <p class="info-tasca-separacion"> {{ tasca.descripcio }}</p>
                        <p class="info-tasca-separacion"> {{ tasca.nom  }}</p>
                        <p class="info-tasca-separacion"> {{ tasca.nom  }}</p>
                        <p class="info-tasca-separacion"> {{ tasca.nom  }}</p>
                        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                            <img><img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}